<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raghav Posting Website</title>
    <link href="/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
    <h1>Raghav Project</h1>
    <% for(post of posts) { %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="con"><%= post.content %></h4>
            <br>
        <a href="http://localhost:8080/posts/<%= post.id %>">See in Details</a> &nbsp;
        <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
        <form method="post" action="/posts/<%= post.id %>?_method=DELETE"><br>
            <button>Delete Post</button>
        </form>
    <% } %>
    <br>
    <br>
        </div>
    <div class="new">  
    <a href="http://localhost:8080/posts/new">Create New Post</a>
    </div>
    <div class="social_media">
        <ul>
          <a href="https://github.com/raghavsharma098"><i class="fa-brands fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
          <a href="https://www.linkedin.com/in/raghavsharma098/"><i class="fa-brands fa-linkedin"></i></a>
        </ul>
    </div>  
</body>
</html>